/*
Nextflow configuration file for RepeatExplorer
*/

params {
  version = '0.0.1' // Pipeline version
  nf_required_version = '19.04.0' // Minimum version of nextflow required
}

singularity {
    enabled = true
    cacheDir = "$HOME/.singularity"
}

profiles {
  standard {
    local { process.executor = 'local' }
  }
}

executor {
  $local {
    name = 'keepers'
    queueSize = 5
  }
}

process {

  errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'terminate' }
  maxRetries = 3
  maxErrors = '-1'

  conda = "$HOME/rahul/anaconda3/envs/work_repeatexplorer"
  cpus = 8
  memory = 40.GB  // Multiply memory usage by 5 times cpus -- for keepers
  time = 100.h // had to put huge number here to remove 143 error while running locally

}



// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']
timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/reexplorer_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/reexplorer_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/reexplorer_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/reexplorer_dag.svg"
}